---
const { title, description } = Astro.props;
import LinkButton from '@components/LinkButton.astro';
import { PHONE, EMAIL, LATIDO } from '../constants';
---

<section class="highlight schedule-appointment">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-6 offset-md-3">
        <h2 class="text-center">{title ? title : 'Termin buchen'}</h2>

        <p>
          {description && <div>{description}</div>}
          {
            !description && (
              <div>
                Buchen Sie Ihren Termin am einfachsten und schnellsten online –
                rund um die Uhr und ohne Wartezeiten am Telefon. So können Sie
                in Ruhe den für Sie passenden Zeitpunkt auswählen.
              </div>
            )
          }
        </p>

        <LinkButton
          href={LATIDO}
          text="Online Termin buchen"
          color="secondary"
          target="_blank"
        />

        <p>
          Falls Sie lieber telefonisch oder per E-Mail einen Termin vereinbaren
          möchten:
        </p>
        <p class="text-center">
          ✉️ Email: <a href={`mailto:${EMAIL}`}>{EMAIL}</a><br />
          📞 Telefon: <a href={`tel:${PHONE}`}>{PHONE}</a>
        </p>
      </div>
    </div>
  </div>
</section>
